.mainbody{
    color: white;
    display: flex;
    gap: 280px;
    margin: 140px;
    align-items: center;
    flex-wrap: wrap;
}

.mainbody-text{
    width: 45%;
    text-align: justify;
    flex-wrap: wrap;
}