.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(62, 51, 128);
    color: white;
    text-align: center;
 }

 .justify{
    text-align: justify;
 }